{
  "env": {
    "node": true
  },
  "extends": "airbnb/base",
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "rules": {
    "comma-dangle": ["error", "never"],
    "object-curly-newline": ["off"],
    "no-restricted-syntax": ["off"],
    "func-names": ["off"],
    "no-console": 0,
    "no-await-in-loop": 0
  }
}
